*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: indigo;
}

.header-line {
    display: flex;   
    justify-content: space-between;
    position: absolute;/*allign with the header image*/
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.list{
    display: flex;/*display content horizontally*/
    align-items: center; 
    color: whitesmoke;
}

.list li{
    margin: 0 25px;/*top n bottom 0, left nd right 15px*/
}


.ctn{
    background-color: red;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px 8px;
    border-radius: 40px;
    color: white; 
}

.active{
    color: red;
    text-decoration: underline;
    font-weight: bolder;
}

.line{
    width: 150px;
    height: 4px;
    background: blueviolet;
    margin: 10px auto;
    border-radius: 5px;
}

footer{
    background: rgb(226, 143, 143);
    width: 100%;
    height: 150px;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
}

.social-icon{
    padding-bottom: 15px;
}
.social-icon a{
    padding: 0 5px;
}
.copy{
    background-color: gray;
    width: 100%;
    height: 45px;
    padding: 5px 0;
}

.about {
    background-image: url('img/login_background.jpeg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 65vh;
    align-items: center;/* Centers vertically */
    justify-content: center;/* Centers horizontally */
    display: flex;
}
.about h1{
    text-align: center;
    font-size: 5vmin;
    }

.about-statement{
    background-color: rgb(196, 189, 176);
    width: 100vw;
    height: 100vh;
}
.who-we{
    text-align: center;
    align-items: center;
}
.who-we h1{
    text-align: center;
    align-items: center;
}