<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='consultancystyles.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="header-line">
        <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="peace-mind logo">
        <ul class="list">
            <li><a href="{{ url_for('home') }}">home</a></li>
            <li><a href="{{ url_for('about') }}">about</a></li>
            <li><a href="{{ url_for('service') }}">service</a></li>
            <li><a href="{{url_for('login')}}">login</a></li>
            <li class="ctn"><a href="{{url_for('register')}}">register</a></li>
        </ul>
    </nav>
    <section class="main">
        <div class="consultancy">
            <h1>Consultation</h1>
            <p>
                We offer professional mental health and training services 
                tailored for business organizations, schools, hospitals, and 
                groups. From different programs to executive coaching, we 
                provide specialized options. Our approach is customized, 
                as we assess the specific needs of each organization to 
                deliver client-centered and program-focused solutions.
            </p>
            <p>
                We offer short, long, or flexible term options.
            </p>
        </div>
        <div class="see">
            <p>See all consultation services below</p>
        </div>
        <div class="service">
            <div class="service-row1">
                <div class="service-img">
                    <img src="{{ url_for('static',filename='img/therapy_img.jpeg') }}">
                </div>
                <div class="service-content">
                    <h2>Executive Coaching</h2>
                    <p>consultation</p>
                    <a href="#" class="ctn">learn More</a>
                </div>
            </div>
            <div class="service-row1">
                <div class="service-content">
                    <h2>Mental Health Partnership with Hospitals</h2>
                    <p>consultation</p> 
                    <a href="#" class="ctn">learn More</a>
                </div>
                <div class="service-img">
                    <img src="{{ url_for('static',filename='img/consultancy_img.jpeg') }}">
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="follow-us">
            <h2>Follow Us</h2>
            <div class="line"></div>
        </div>
        <div class="social-icon">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="foot-link">
            <div>
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About Us</a></li>
                    <li><a href="{{ url_for('service') }}">Service</a></li>
                </ul>
            </div>
            <div>
                <h2>More</h2>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About Us</a></li>
                    <li><a href="{{ url_for('service') }}">Service</a></li>
                </ul>
            </div>
        </div>
        <div class="copy">
            <p>&copy; 2024 peace-mind connection. all right reserved.</p>
        </div>
    </footer>
</body>
</html>