<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='servicestyles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="header-line">
        <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="peace-mind logo">
        <ul class="list">
            <li><a href="">home</a></li>
            <li><a href="{{ url_for('about') }}">about</a></li>
            <li class="active"><a href="">service</a></li>
            <li><a href="{{url_for('login')}}">login</a></li>
            <li class="ctn"><a href="{{url_for('register')}}">register</a></li>
        </ul>
    </nav>
    <section class="about-us">
        <div class="about">
            <h1>About Us</h1>
        </div>
    </section>
    <section class="statement">
        <div class="statement-msg">
            <h1>WE ENABLE SIGNIFICANT TRANSFORMATION</h1>
            <p>
                At Peace Mind Connect Services, we provide tailored therapy 
                based on evidence-based approaches to confidentially address and manage
                 various mental health challenges. Whether dealing with daily stress, major 
                 life changes, or complex issues, our goal is to support your 
                 personal growth and emotional well-being.
            </p>
            <p>
                Our services are built on four key tenets: educate, connect, discuss, 
                and research. We have a growing network of verified professionals who 
                provide specialized services across various platforms. 
                These include individual, group, organizational, online, and in-person services.
            </p>
        </div>
    </section>
    <section class="service">
        <div class="service-writeup">
           <h3>Service Category</h3>
           <div class="line"></div>
        </div>
        <div class="service-row">
            <div class="service-row1">
                <img src="{{ url_for('static',filename='img/therapy_img.jpeg') }}">
                <h2>Therapy</h2>
                <p>Psychological evidence-based services to support you... 
                    Online therapy and personalized concierge services</p>
                <a href="#" class="ctn">learn More</a>
            </div>
            <div class="service-row2">
                <img src="{{ url_for('static',filename='img/consultancy_img.jpeg') }}">
                <h2>Consultancy</h2>
                <p>our consultancy services are designed to offer expert 
                    guidance and tailored solutions for mental health and wellness</p> 
                <a href="#" class="ctn">learn More</a>
            </div>
            <div class="service-row3">
                <img src="{{ url_for('static',filename='img/article_img.jpeg') }}">
                <h2>Articles</h2>
                <p>we believe in the power of knowledge to promote mental well-being.</p>
                <a href="#" class="ctn">learn More</a>
            </div>
        </div>
    </section>
    <footer>
        <div class="follow-us">
            <h2>Follow Us</h2>
            <div class="line"></div>
        </div>
        <div class="social-icon">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="copy">
            <p>&copy; 2024 peace-mind connection. all right reserved.</p>
        </div>
    </footer>
</body>
</html>