<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Therapy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='therapystyles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="header-line">
        <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="peace-mind logo">
        <!-- Hamburger icon for mobile view -->
        <div class="menu_botn" id="menu_botn">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <!-- Navigation links -->
        <ul class="list">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('service') }}">Service</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li class="ctn"><a href="{{url_for('register')}}">Register</a></li>
        </ul>
    </nav>
    <section class="about-us">
        <div class="about">
            <h1>Therapy</h1>
        </div>
    </section>
    <section class="main">
        <div class="consultancy">
            <p>
                Our therapy, counseling, and coaching services
                 utilize evidence-based psychological methods. 
                 We offer a range of options available both online 
                 and offline, including the choice of anonymous support.
            </p>
            <p>
                Our experienced and certified therapists, psychologists, 
                psychiatrists, and counselors are carefully matched to work 
                with you according to your unique profile and goals. 
                Currently, in-person sessions are available exclusively 
                in Lagos, Nigeria, while our online services can be accessed 
                from anywhere.
            </p>
            <p>
                If there is a service you do not find here, kindly send us a 
                message to ascertain if we offer such services under a different 
                name. 
            </p>
        </div>
        <div class="see">
            <p>See all consultation services below</p>
        </div>
    </section>
    <section>
        <div class="service-row">
            <div class="service-row1">
                <img src="{{ url_for('static',filename='img/online_therapy.jpeg') }}">
                <h2>Online Therapy (Available 24/7)</h2>
                <p>Therapy, Conselling, coaching</p>
                <a href="#" class="ctn">learn More</a>
            </div>
            <div class="service-row2">
                <img src="{{ url_for('static',filename='img/anger_mgt.jpeg') }}">
                <h2>Anger Management</h2>
                <p>Therapy, Conselling, coaching</p> 
                <a href="#" class="ctn">learn More</a>
            </div>
            <div class="service-row3">
                <img src="{{ url_for('static',filename='img/couples_n_relationshp.jpeg') }}">
                <h2>Couples and Relationship</h2>
                <p>Therapy, Conselling, coaching</p>
                <a href="#" class="ctn">learn More</a>
            </div>
        </div>
        <div class="service-row">
            <div class="service-row1">
                <img src="{{ url_for('static',filename='img/development_accessment.jpeg') }}">
                <h2>Developmental Accessment</h2>
                <p>Therapy, Conselling, coaching</p>
                <a href="#" class="ctn">learn More</a>
            </div>
            <div class="service-row2">
                <img src="{{ url_for('static',filename='img/family.jpeg') }}">
                <h2>Faamily Therapy and Counseling</h2>
                <p>Therapy, Conselling, coaching</p> 
                <a href="#" class="ctn">learn More</a>
            </div>
            <div class="service-row3">
                <img src="{{ url_for('static',filename='img/group_therapy.jpeg') }}">
                <h2>Group Therapy and Support Group</h2>
                <p>Therapy, Conselling, coaching</p>
                <a href="#" class="ctn">learn More</a>
            </div>
        </div>
    </section>
    <footer>
        <div class="follow-us">
            <h2>Follow Us</h2>
            <div class="line"></div>
        </div>
        <div class="social-icon">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="foot-link">
            <div>
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About Us</a></li>
                    <li><a href="{{ url_for('service') }}">Service</a></li>
                </ul>
            </div>
            <div>
                <h2>More</h2>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About Us</a></li>
                    <li><a href="{{ url_for('service') }}">Service</a></li>
                </ul>
            </div>
        </div>
        <div class="copy">
            <p>&copy; 2024 peace-mind connection. all right reserved.</p>
        </div>
    </footer>
     <!--JavaScript for toggling mobile menu -->
     <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>     
</body>
</html>